
﻿
@model SliderUpdateVM
<section class="content-main">
	<div class="content-header">
		<h2 class="content-title">Update Slider</h2>
		<div>
			<a asp-action="Index" class="btn btn-md rounded font-sm hover-up">Go to list</a>
		</div>
	</div>
	<div class="card mb-4">
		<form method="post" enctype="multipart/form-data" class="card-body">
			<div class="mb-4">
				<img src="@Model.Image" width="75" />
				<label asp-for="Image" class="form-label"></label>
				<input asp-for="Image" class="form-control">
				<span class="text-sm text-danger" asp-validation-for="Image"></span>
			</div>
			<div class="row gx-3">
				<div class="col-md-4  mb-3">
					<label asp-for="LittleTitle" class="form-label"></label>
					<input asp-for="LittleTitle" class="form-control">
					<span class="text-sm text-danger" asp-validation-for="LittleTitle"></span>
				</div>
				<div class="col-md-4  mb-3">
					<label asp-for="Title" class="form-label"></label>
					<input asp-for="Title" class="form-control">
					<span class="text-sm text-danger" asp-validation-for="Title"></span>
				</div>
				<div class="col-md-4  mb-3">
					<label asp-for="BigTitle" class="form-label"></label>
					<input asp-for="BigTitle" class="form-control">
					<span class="text-sm text-danger" asp-validation-for="BigTitle"></span>
				</div>
			</div>
			<div class="row gx-3">
				<div class="col-md-6 mb-3">
					<label asp-for="Offer" class="form-label"></label>
					<input asp-for="Offer" class="form-control">
					<span class="text-sm text-danger" asp-validation-for="Offer"></span>
				</div>
				<div class="col-md-6  mb-3">
					<label asp-for="Link" class="form-label"></label>
					<input asp-for="Link" class="form-control">
					<span class="text-sm text-danger" asp-validation-for="Link"></span>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Update</button>
		</form>
	</div>
</section>